<div class="footer-lower-wordmark">
  <a href="{{ ugslogourl }}"><img src="{{ ugslogosrc }}" alt="{{ ugslogoalt }}"></a>
</div>
<div class="footer-lower-links">
  <ul>
    <li>© {{ year }}</li>
    <li>{{ accessibility_link }}</li>
    <li>{{ privacy_link }}</li>
  </ul>
</div>
