<section class="sb-container {{ behavior }}">
  <div class="card" id="{{ id }}">
    <div class="front color-{{ front_color }}">
      <div class="frontcover">{{ front_text }}</div>
    </div>
    <div class="back color-{{ back_color }}">
      <div class="backcover">{{ back_text }}</div>
    </div>
  </div>
</section>
